
Rugball/.idea/caches/build_file_checksums.ser
Rugball/.idea/caches/gradle_models.ser
Rugball/.idea/codeStyles/Project.xml
Rugball/.idea/.name
Rugball/.idea/gradle.xml
Rugball/.idea/vcs.xml
Rugball/.idea/runConfigurations.xml
Rugball/.idea/misc.xml

*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
